@model CareLeavers.Web.Models.Content.Card

@{
    var link = Model.Link?.Slug ?? string.Empty;
}

<div class="hf-card">
    <a href="@link">
        <div class="hf-card-container">
            <img src="@Model.Image.File" alt="" role="presentation" class="full-width-image card-image"/>
            <div class="cat-card-details">
                <h3 class="govuk-heading-m">@Model.Title</h3>
                <p class="govuk-body">@Model.Text</p>
            </div>
        </div>
    </a>
</div>