@model CareLeavers.Web.Models.Content.Card

@{
    var link = Model.Link?.Slug ?? string.Empty;
}

<div class="dfe-card">
        <contentful-image asset="@Model.Image" class="full-width-image card-image" alt="" role="presentation"></contentful-image>
        <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="@link" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                    @Model.Title
                </a>
            </h3>
            <p class="govuk-body">@Model.Text</p>
        </div>
</div>