.banner {
  @include govuk-responsive-padding(7, "top");
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-responsive-margin(6, "bottom");
  margin-inline: min(-1 * var(--m), var(--w) / 2 - 50cqw);

  &.banner-blue {
    background-color: #EAF5FF;
  }

  a {
    font-weight: bold;
    text-decoration: none;
  }

  .full-width-image {
    max-height: 300px;
  }

  .banner-content {
    margin-inline: max(var(--m), 50cqw - var(--w) / 2);

    .govuk-grid-row .split-panel {
      position: relative;

      .govuk-link::after {
        position: absolute;
        content: "";
        inset: 0;
        z-index: 1;
      }

      &:hover,
      &:focus-within {
        background-color: $color_dfe-blue;

        a, p, .govuk-heading-l {
          color: $color_dfe-white;
        }
      }

      &:focus-within {
        outline: 3px solid $color_dfe-yellow;
      }
    }
  }

  html:has(link[rel="canonical"][href*="/your-rights"]) & {
    padding-top: 0;
    padding-bottom: 0;
    
    margin-top: -1.5625em;
    margin-bottom: -1.5625em;
    
    @media (max-width: 40.0525em) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}