@media (min-width: 60.0625em) {
  .govuk-service-navigation__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .govuk-service-navigation__item,
  .govuk-service-navigation__service-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0;
  }
  .govuk-service-navigation__item:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 20px;
  }
  .govuk-service-navigation__item:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 30px;
  }
  .govuk-service-navigation__item--active {
    padding-bottom: 15px;
    border-bottom-width: 5px;
    border-left-width: 0px;
  }
  .govuk-service-navigation__service-name {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .govuk-service-navigation__toggle {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .govuk-service-navigation__list {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .govuk-service-navigation__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media (max-width: 60.0525em) {
  .govuk-service-navigation__item--active {
    margin-left: -15px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 60.0625em) and (-ms-high-contrast: active), (min-width: 100.0625em) and (-ms-high-contrast: none) {
  .govuk-service-navigation__list {
    display: block;
  }
}