.gem-c-metadata {
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 15px;
  
  a {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    
    &:hover {
      color: govuk-colour('blue', $variant: 'shade-50');
      text-decoration-thickness: max(3px, .1875rem, .12em);
      text-decoration-skip-ink: none;
      -webkit-text-decoration-skip: none;
      text-decoration-skip: none;
    }
    
    &:focus {
      outline: 3px solid rgba(0,0,0,0);
      color: #0B0C0C;
      background-color: #FD0;
      box-shadow: 0 -2px #FD0,0 4px #0b0c0c;
      text-decoration: none;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
    
    &:link {
      color: #1D70B8;
    }
    
    &:visited {
      color: #4C2C92;
    }
    
    &:active {
      color: #0B0C0C;
    }
  }

  .gem-c-metadata__definition-link {
    font-weight: normal;
  }
  
  .direction-rtl {
    direction: rtl;
    text-align: start;
  }
}

.gem-c-metadata::after {
  content: "";
  display: block;
  clear: both
}

.gem-c-metadata--inverse {
  color: #FFFFFF;
  
  a:link,
  a:visited {
    color: #FFFFFF;
  }
  
  a:hover,
  a:active {
    color: rgba(255, 255, 255, .99);
  }

  a:focus {
    color: #0B0C0C;
  }
}

.gem-c-metadata--inverse-padded {
  padding: 10px;

  .gem-c-metadata__list {
    margin: 10px;
  }
}

.gem-c-metadata__term {
  margin-top: 0.5em;
  line-height: 1.4;
}

.gem-c-metadata__definition {
  margin: 0;
  line-height: 1.4;
}

.gem-c-metadata__toggle-wrap {
  display: none;
}

.gem-c-print-link__button {
  display: block;
  border: 1px solid govuk-colour('black', $variant: 'tint-25');
  color: #1D70B8;
  cursor: pointer;
  margin: 0;
}

.gem-c-print-link__button,
.gem-c-print-link__link {
  background: url('/assets/icon-print.png') no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
}

.gem-c-contents-list {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 20px 15px -10px #fff
}

.gem-c-contents-list__list-item--numbered {
  .gem-c-contents-list__link {
    display: table;
  }
}

.gem-c-contents-list__number,
.gem-c-contents-list__numbered-text {
  display: table-cell;
}

.gem-c-contents-list__number {
  min-width: 1.5em;
}

.gem-c-contents-list__numbered-text {
  padding-left: 0.3em;
}

.gem-c-contents-list__title {
  color: #0B0C0C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  @include govuk-font-size($size: 24);
  @include govuk-responsive-margin(2, "bottom");
}

.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #0B0C0C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

.gem-c-contents-list__list-item--parent {
  .gem-c-contents-list__link {
    font-weight: 700;
  }
}

.gem-c-contents-list__list-item {
  padding-top: 10px;
  line-height: 1.3;
  list-style-type: none;
}

.gem-c-contents-list__list-item--dashed {
  position: relative;
  padding: 0 govuk-spacing(5);

  .gem-c-contents-list__list-item-dash::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }
}

.gem-c-contents-list__link:focus,
.gem-c-contents-list__link:active:focus,
.gem-c-contents-list__link:link:focus,
.gem-c-contents-list__link:visited:focus {
  outline: 3px solid rgba(0,0,0,0);
  color: #0B0C0C !important;
  background-color: #FD0;
  box-shadow: 0 -2px #FD0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.gem-c-contents-list--alternative-line-style {
  .gem-c-contents-list__title {
    margin-bottom: 15px;
  }
  
  .gem-c-contents-list__list-item {
    padding: 10px 0;
    margin: 0;
  }
  
  .gem-c-contents-list__list-item-dash::before {
    display: none;
  }
  
  .gem-c-contents-list__list-item--active {
    padding: 5px 10px;
    margin: 5px 0;
    border-left: 4px solid #1D70B8; 
    color: #1D70B8;
    font-weight: 700;
  }
}

.direction-rtl {
  .gem-c-metadata__term {
    float: right;
    clear: right;
  }

  .gem-c-metadata__definition {
    float: right;
  }

  .gem-c-contents-list__numbered-text {
    padding-left: 0;
    padding-right: 0.3em
  }

  .gem-c-contents-list__list-item--dashed {
    .gem-c-contents-list__list-item-dash::before {
      left: auto;
      right: 0;
    }
  }
}

.lte-ie8 {
  .gem-c-contents-list__list-item--dashed {
    .gem-c-contents-list__link {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.govuk-frontend-supported {
  .gem-c-metadata__toggle-wrap {
    display: block;
  }

  .gem-c-metadata__toggle-items.js-hidden {
    display: none;
  }
}

.print-only { 
  display: none; 
}

.dfe-card-link-print-url {
  display: none;
}

@media(min-width: 40.0625em) {
  .gem-c-metadata {
    margin-bottom: 40px
  }

  .gem-c-metadata__term {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0;
  }

  .gem-c-metadata  {
    .direction-rtl {
      .gem-c-metadata__term {
        padding-left:5px;
        padding-right: 0;
      }
    }
  }

  .gem-c-metadata--inverse-padded {
    .gem-c-metadata__list {
      margin: 15px;
    }
  }

  .gem-c-contents-list__list-item {
    padding-top: 7.5px;
  }

  .gem-c-contents-list__list-item--dashed {
    position: relative;
    padding: 0 govuk-spacing(6);
  }

  .gem-c-metadata__definition:not(:last-of-type) {
    margin-bottom: 5px;
  }
}