.govuk-phase-banner {
  border-bottom: none;
}

.govuk-phase-banner__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.translate {
  display: block;
  margin-left: auto;
  text-align: right;
  min-width: 90px;
  float: right;
  font-size: 1em;
  
  .govuk-link {
    background-image: url("/assets/icon-translate.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 32px;
  }
}