.split-panel {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: govuk-colour('black', $variant: 'tint-95');

  .image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }

  .govuk-grid-column-one-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include govuk-responsive-padding(4);

    &.image-column {
      padding: 0;
      position: relative;
    }

    &.text-column {
      @include govuk-responsive-padding(8);
    }
  }
}

.split-panel--bg-white {
  background-color: govuk-colour('white');
}

@media (max-width: 768px) {
  .split-panel {
    flex-direction: column;

    .govuk-grid-column-one-half {
      width: 100%;
    }

    .image-container {
      height: 200px;
    }
  }
}