@using CareLeavers.Web.Contentful
@model CareLeavers.Web.Models.Content.Page
@inject IContentService ContentService

@{
    if (!Model.ShowBreadcrumb)
    {
        return;
    }

    var breadcrumbs = await ContentService.GetBreadcrumbs(Model.Slug);
    
}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
        @foreach (var breadcrumb in breadcrumbs)
        {
            <li class="govuk-breadcrumbs__list-item">
                @Html.ActionLink(breadcrumb.Title, "GetContent", "Contentful", new { slug = breadcrumb.Slug }, new { @class = "govuk-breadcrumbs__link" })
            </li>
        }
    </ol>
</nav>