@model CareLeavers.Web.Models.Content.DefinitionBlock

<div id="@TagBuilder.CreateSanitizedId(Model.Title, "-")" title="@Model.Title" role="definition">
    @if (Model.ShowTitle)
    {
        <h3 class="govuk-heading-m">
            @Model.Title
        </h3>
    }
    <gds-contentful-rich-text document="@Model.DefinitionContent.Content"></gds-contentful-rich-text>
</div>
