@model CareLeavers.Web.Models.Content.Definition

<div id="@TagBuilder.CreateSanitizedId($"definition-{Model.Title}", "-")" role="definition">
    <gds-contentful-rich-text document="@Model.Content"></gds-contentful-rich-text>
</div>
