@model CareLeavers.Web.Models.Content.GetToAnAnswer

@{
    Console.WriteLine(Model.BaseUrl);
    Console.WriteLine(Model.questionnaireSlug);
}

<div class="gtaa-wrapper"
     data-auto-scroll="false"
     data-is-fixed-height-enabled="false"
     data-bg="#fff"
     data-fg="#00205b"
     style="margin:0 auto; max-width:100%; width:100%;">
    <iframe id="gtaaFrame" title="@Model.Title"
            src="@Model.BaseUrl/questionnaires/@Model.questionnaireSlug/start?embed=true"
            allow="autoplay" referrerpolicy="strict-origin" 
            sandbox="allow-scripts allow-top-navigation allow-forms"></iframe>
</div>
<script asp-add-nonce="true" src="@Model.BaseUrl/js/gtaa.external.js"></script>
