@using CareLeavers.Web.Contentful
@using CareLeavers.Web.Models.Content
@using CareLeavers.Web.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CareLeavers.Web.Models.Content.Grid

@inject IContentService ContentService

@{
    var grid = await ContentService.Hydrate(Model);
    grid ??= new Grid();
}

@{
    switch (grid.GridType)
    {
        case GridType.Cards:
            <section class="dfe-section govuk-!-margin-top-5">
                @if (grid.Content != null && grid.Content.Any())
                {
                    <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">
                        @foreach (var content in grid.Content)
                        {
                            var card = (Card)content;
                            <partial model="@card" name="Grid/Card"/>
                        }
                    </div>
                }
            </section>
            break;

        case GridType.AlternatingImageAndText:
            <section class="dfe-section alternating-image-text">
                @if (grid.Content != null && grid.Content.Any())
                {
                    foreach (var content in grid.Content)
                    {
                        var card = (Card)content;
                        <partial model="@card" name="Grid/AlternatingImageAndText"/>
                    }
                }
            </section>
            break;
        
        case GridType.ExternalLinks:
            <section class="dfe-section govuk-!-margin-top-5">
                @if (grid.Content != null)
                {
                    @foreach (var content in grid.Content)
                    {
                        var externalAgency = (ExternalAgency)content;
                        <partial model="@externalAgency" name="Grid/ExternalAgency"/>
                    }
                }
            </section>
        
            break;

    }
}
