@using CareLeavers.Web.Contentful
@using Joonasw.AspNetCore.SecurityHeaders.TagHelpers
@model CareLeavers.Web.Models.ViewModels.ConfigViewModel
@inject IContentService ContentService

@{
    string currentPage = ViewContext.RouteData.Values["slug"]?.ToString() ?? string.Empty;
    var breadcrumbs = await ContentService.GetBreadcrumbs(currentPage, false);
}


<nav class="govuk-service-navigation" data-module="govuk-service-navigation" id="header-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                        aria-controls="navigation" hidden>
                    Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    @foreach(var link in Model.ContentfulConfiguration.Navigation)
                    {
                        if (link.Slug == currentPage || breadcrumbs.Exists(b => b.Slug == link.Slug))
                        {
                            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                                <a class="govuk-service-navigation__link" href="@Url.Action("GetContent", "Contentful", new { slug = link.Slug, languageCode = Model.Language.Code })" aria-current="true">
                                    <strong class="govuk-service-navigation__active-fallback">@link.Title</strong>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link" href="@Url.Action("GetContent", "Contentful", new { slug = link.Slug, languageCode = Model.Language.Code })">
                                    @link.Title
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</nav>

<script asp-add-nonce="true">
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.querySelector('.govuk-js-service-navigation-toggle');
        const navigation = document.getElementById('navigation');

        if (menuToggle && navigation) {
            menuToggle.addEventListener('click', function () {
                const isExpanded = this.getAttribute('aria-expanded') === 'true';
                this.setAttribute('aria-expanded', !isExpanded);
                navigation.style.display = isExpanded ? 'none' : 'flex';
            });
        }
    });

</script>