@model CareLeavers.Web.Models.Content.ContentfulConfigurationEntity

@{
    var currentLink = ViewContext.RouteData.Values["slug"]?.ToString();
}

<button type="button" class="dfe-header__menu-button" id="mobile-menu-toggle" aria-controls="header-navigation" aria-expanded="false">
    <span>Menu</span>
    <svg class="dfe-icon dfe-icon__menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
        <path d="M3 6h18M3 12h18m-18 6h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
</button>

<nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
    <div class="dfe-width-container">
        <p class="dfe-header__navigation-title">
            <span id="label-navigation">Menu</span>
            <button class="dfe-header__navigation-close" id="close-menu">
                <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                <span class="govuk-visually-hidden">Close menu</span>
            </button>
        </p>
        <ul class="dfe-header__navigation-list">
            @foreach (var link in Model.Navigation)
            {
                string className = "dfe-header__navigation-item";
                if (link.Slug == currentLink)
                {
                    className += " dfe-header__navigation-item--current";
                }

                <li class="@className">
                    <a class="dfe-header__navigation-link" href="@link.Slug">
                        @link.Title
                        <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                            <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                        </svg>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("GOV.UK JavaScript Loaded - Navigation");

        const menuToggle = document.getElementById("mobile-menu-toggle");
        const menu = document.getElementById("header-navigation");
        const closeButton = document.getElementById("close-menu");

        function toggleMenu() {
            const isExpanded = menuToggle.getAttribute("aria-expanded") === "true";
            menuToggle.setAttribute("aria-expanded", !isExpanded);
            menu.classList.toggle("dfe-header__navigation--open", !isExpanded);
        }

        menuToggle.addEventListener("click", toggleMenu);
        closeButton.addEventListener("click", toggleMenu);
    });
</script>