@using CareLeavers.Web.Configuration
@using Microsoft.Extensions.Options
@model CareLeavers.Web.Models.Content.Page

@if (Model is { ShowPrintButton: true, ShowLastUpdated: false })
{
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>
    <div class="govuk-grid-row">
        <div class="metadata-logo-wrapper">
            <div class="govuk-grid-column-two-thirds metadata-column">
                <partial name="PrintThisPage" model="@Model"/>
            </div>
        </div>
    </div>
}