.status-launch {
  display: block;
  width: 99%;
  border: 1px #003a6a solid;
  background-color: govuk-colour('black', $variant: 'tint-95');
  margin: 0;
  padding: 0;
  @include govuk-responsive-margin(6, "bottom");
}

.header-side {
  background-color: #003a6a;
  padding: 15px;

  h2 {
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.body-side {
  padding: 15px;
}