#main-content-header {
  h1 {
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");
  }

  :has(.govuk-breadcrumbs) h1 {
    @include govuk-responsive-margin(6, "top");
  }
}

.govuk-header {
  a {
    &:focus {
      background-color: #ffdd00;
      display: inline-block;
      border-bottom: 3px solid rgba(0, 0, 0, 1);
    }
  }
}

.dfe-header {
  padding-bottom: 1rem;
}

.dfe-page-grey {
  background-color: #EAF5FF;

  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(9, "bottom");

  .govuk-body-l {
    margin: 0;
  }
}

.govuk-breadcrumbs {
  margin: 0;
}

.alternating-image-text {
  @include govuk-responsive-margin(6, "bottom");
}

.full-width-image {
  max-width: 100%;
}

#main-content-footer {
  @include govuk-responsive-padding(6, "bottom");
}

.app-emergency-callout {
  border-left-color: #D4351C;
}

.riddle2-wrapper {
  max-width: 100%;
  width: 100%;
  margin: -35px auto 0;
}

@media (min-width: 40.0625em) {
  .dfe-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}