.govuk-phase-banner {
  border-bottom: none;
  postion: relative;
}

.govuk-phase-banner__content {
  display: block;
  padding-inline-end: 100px;
}

.translate {
  display: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 0;
  min-width: 90px;
  fonmt-size: 1em;
  display: flex;



  .govuk-link {
    background-image: url("/assets/icon-translate.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-inline-start: 32px;
  }
}