@using CareLeavers.Web.Configuration
@model CareLeavers.Web.Models.ViewModels.TranslationViewModel
@inject IContentfulConfiguration ContentfulConfiguration
@{
    ViewBag.Title = "Translate this website";
    Layout = "_Layout";
    var config = await ContentfulConfiguration.GetConfiguration();
}
@section Head
{
    <meta name="robots" content="noindex, nofollow"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
            <gds-contentful-rich-text document="@config.TranslationHeader" larger-text="true"></gds-contentful-rich-text>
        </div>
    </div>
}

@{
    var count = (double)Model.Languages.Count();
    var columnSize = 1;
    if (count > 0)
    {
        columnSize = (int)Math.Ceiling(count / 3d);
    }
    var languageLists = Model.Languages.Chunk(columnSize);
}

<div class="govuk-grid-row">
    @foreach (var list in languageLists)
    {
        <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
                @foreach (var translation in list)
                {
                    <li>
                        @if (!string.IsNullOrEmpty(Model.Page))
                        {
                            @Html.ActionLink(
                                $"{translation.NativeName} ({translation.Name})",
                                Model.Page,
                                "Pages",
                                new { languageCode = translation.Code },
                                new { @class = "govuk-link", rel = "nofollow" })
                        }
                        else
                        {
                            @Html.ActionLink(
                                $"{translation.NativeName} ({translation.Name})",
                                "GetContent",
                                "Contentful",
                                new { slug = Model.Slug ?? config.HomePage.Slug, languageCode = translation.Code },
                                new { @class = "govuk-link", rel = "nofollow" })
                        }
                    </li>
                }
            </ul>
        </div>
    }
</div>