@model IEnumerable<CareLeavers.Web.Translation.TranslationLanguage>

@{
    ViewBag.Title = "Choose a language";
    Layout = "_Layout";
}
@section Head
{
    <meta name="robots" content="noindex, nofollow"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}

<ul class="govuk-list">
@foreach (var translation in Model)
{
    <li>
        @Html.ActionLink(
            $"{translation.NativeName} ({translation.Name})", 
            "Homepage", 
            "Contentful", 
    new { languageCode = translation.Code }, 
    new { @class = "govuk-link", rel = "nofollow" })
    </li>
}
</ul>