@model ErrorViewModel

@{
    ViewBag.Title = Model.Page?.Title ?? "Sorry, there is a problem with the service";
    Layout = "_ErrorLayout";
}

@section Head
{
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="canonical" href="@Url.Action(
                                    action: "Error",
                                    controller: "Pages",
                                    protocol: "https",
                                    values: new { languageCode = "en" }
                                )"/>
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}

@if (Model.Page?.MainContent is not null && Model.Page.MainContent.Content.Any()) 
{
    <gds-contentful-rich-text document="@Model.Page.MainContent"/>
}
else
{
    <p class="govuk-body">
        Try again later.
    </p>
}


