@using CareLeavers.Web.Contentful
@using CareLeavers.Web.Models.Enums
@model CareLeavers.Web.Models.Content.RichContent
@inject IContentService ContentService

@{
    var content = await ContentService.Hydrate(Model);

    string color = "";
    switch (content.Background)
    {
        case BackgroundColour.Blue:
            color = "dfe box-ext";
            break;
    }

    var width = content.Width switch
    {
        ContentWidth.OneThird => "govuk-grid-column-one-third",
        ContentWidth.TwoThirds => "govuk-grid-column-two-thirds",
        _ => "govuk-grid-column-full"
    };

    @if (color != "")
    {
        <section class="dfe-section @color">
            <gds-contentful-rich-text document="@content.Content"/>
        </section>
    }
    else
    {
        <section class="dfe-section">

            <div class="@width">
                <gds-contentful-rich-text document="@content.Content"/>
            </div>

        </section>
    }
}