SPACE_ID='Contentful Space ID'
MANAGEMENT_TOKEN='Contentful Management API Token'
MIGRATION_TRACKER_ENTITY_ID='The Entity ID of the Migration Tracker from Contentful'
SOURCE_ENVIRONMENT='Environment to get content from'
TARGET_ENVIRONMENT='Environment to copy content from SOURCE_ENVIRONMENT to'